@layer global {
  /* dm-sans-300 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/dm-sans-v16-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/dm-sans-v16-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v16-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-600italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: italic;
    font-weight: 600;
    src: url("/assets/fonts/dm-sans-v16-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/dm-sans-v16-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* bricolage-grotesque-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Bricolage Grotesque";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/bricolage-grotesque-v8-latin-700.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --color-neutral-900: hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%);
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-orange-500: hsl(28, 100%, 52%);
    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);

    --text-color: var(--color-neutral-0);
    --text-color-muted: var(var(--color-neutral-300));

    --fs-96: calc(96 / 16 * 1rem);
    --fs-52: calc(52 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-28: calc(28 / 16 * 1rem);
    --fs-20: calc(20 / 16 * 1rem);
    --fs-18: calc(18 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
  }
}

* {
  margin: 0;
}

body {
  display: block;
  margin: 0px auto;
  padding-inline: 48px;
  width: 80%;
  font-family: "DM Sans", Arial, Arial, Helvetica, sans-serif;
  background-color: var(--color-neutral-900);
  color: var(--text-color);
  font-weight: 400;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 32px;
  align-items: center;
}

.hero-logo img {
  width: 200px;
}
.dropdown {
  padding: 10px;
  background-color: var(--color-neutral-800);
  color: var(--color-neutral-200);
  border: none;
  font-size: var(--fs-16);
  border-radius: 10px;
}
.select {
  padding: 10px 20px;
}
option {
  width: 20px;
  padding: 10px 30px;
}
option i {
  display: block;
  font-size: 16px;
  position: absolute;
}

.search-section {
  text-align: center;
}
h1 {
  font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
  font-size: var(--fs-52);
  padding: var(--fs-18);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr calc(100% - 32px) 1fr;

  @media (width >= calc( 700/16 *1rem)) {
    grid-template-columns: 1fr calc(100%-48px) 1fr;
  }

  @media (width>=calc(1000*16 *1rem)) {
    grid-template-columns: 1fr calc(1216 / 16 * 1rem) 1fr;
  }
  > * {
    grid-column: 2;
  }
}
.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: var(--fs-32);
  gap: 16px;
}
.search {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  width: 450px;
}
.search input {
  /* position: absolute; */
  padding: 0.8rem;
  padding-left: 40px;
  width: 100%;
  border: none;
  background-color: var(--color-neutral-800);
  font-size: var(--fs-14);
  border-radius: 10px;
  color: white;
}

.search input::placeholder {
  color: var(--color-neutral-300);
}

.fa-magnifying-glass {
  position: absolute;
  left: 10px;
  top: 50%;
  color: var(--color-neutral-300);
  transform: translateY(-50%);
}

.btn {
  padding: 0.8rem 20px;
  background-color: var(--color-blue-500);
  color: var(--text-color);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
}

.btn:hover {
  background-color: var(--color-blue-700);
}

.container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.left-container {
  width: auto;
}

.current-conditions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  @media (width>= calc(700/16 *1rem)) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.current-condition {
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-600);
  border-radius: 15px;
  padding: 20px;
}

.current-condition-title {
  font-size: var(--fs-18);
  color: var(--color-neutral-200);
  margin-block-end: 24px;
}
.current-condition-value {
  font-size: var(--fs-32);
  font-weight: 300;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(./assets/images/bg-today-large.svg);
  height: 286px;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 15px;
  padding-inline: 24px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  overflow: hidden;
}
.city-date {
  padding: 16px;
}

.city {
  font-size: var(--fs-20);
  padding-inline: 8p;
}
.date {
  font-size: var(--fs-14);
  color: var(--color-neutral-300);
}
.weather-now {
  display: flex;
  align-items: center;
  padding-inline: 12px;
}
.weather-now img {
  width: 80px;
  height: 80px;
}
.temp {
  font-size: var(--fs-96);
  font-style: italic;
  letter-spacing: -2%;
}

.weather-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 52px;
}

.daily-forecast {
  margin-block: 16px;
}
.section-title {
  font-size: var(--fs-20);
  padding-block: 16px;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @media (width>= calc(700 / 16 * 1rem)) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.forecast-item {
  display: grid;
  justify-items: center;
  padding: 16px 10px;
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-600);
  border-radius: 15px;
  gap: 16px;
}
.day {
  font-size: var(--fs-18);
}

.daily-day-icon {
  width: 60px;
  height: auto;
}

.temp-value {
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
}

.temp-hight {
}

.temp-low {
  color: var(--color-neutral-300);
}

.right-container {
  background-color: var(--color-neutral-800);
  border-radius: 20px;
  padding: 20px 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header {
  margin-block-end: 8px;
}
.hourly-forecast-items {
  display: grid;
  gap: 16px;
}

.h-forecast-item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  background-color: var(--color-neutral-700);
  border: 1px solid var(--color-neutral-600);
  border-radius: 8px;
  padding: 10px 12px 10px 16px;
  align-items: center;
  gap: 8px;
}

.h-forecast-title {
  font-size: var(--fs-18);
}
.h-forecast-temp {
  justify-self: end;
  color: var(--color-neutral-300);
}
img {
  width: 40px;
  height: auto;
}

.day-toggle {
  background-color: var(--color-neutral-600);
}

.caontainer {
  display:;
}

@media screen and (max-width: 960px) {
  body {
    width: 90%;
  }
  .search {
    width: 100%;
  }
  .search input {
    width: 100%;
  }
  .btn {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .right-container {
    width: auto;
  }

  .weather-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
  }

  .temp {
    font-size: var(--fs-52);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding-inline: 16px;
    width: 90%;
  }

  .hero-logo img {
    width: 160px;
  }
  .search-container {
    flex-direction: column;
  }
  .search {
    width: 100%;
  }

  .container {
    flex-direction: column;
  }

  .left-container {
    background-image: url("./assets/images/bg-today-small.svg");
    background-repeat: no-repeat;
    width: auto;
  }
  .current-weather {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .city {
    font-size: var(--fs-20);
  }
  .date {
    font-size: var(--fs-20);
  }
  .weather-now {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .weather-now img {
    width: 100px;
    height: auto;
  }

  .forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
